* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*box-sizing: border-box;*/
}

body {
    background-color: #FFF1E6;
}

footer {
    background-color: #9B2226;
    width: 100vw;
    height: 10vw;
}
footer h1 {
    font-size: 1.8vw;
}
footer img:hover {
    transform: scale(1.2);
}
.license {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
}
.contact {
    width: 25vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    padding: 0.2vw;
    overflow: hidden;
}
.contact-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.2vw;
}
.logo {
    width: 25vw;
    height: 8vw;
    margin-left: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image {
    background-image: url("images/intro_crop.JPG");
    background-size: cover;
    width: 100vw;
    height: 50vw;
}

.intro-background {
    background-color: rgba(74, 0, 0, 0.5); 
    width: 100vw;
    height: 50vw;
}

.menu-bar {
    width: 100vw;
    height: 4vw;
    background-color: rgba(155, 34, 38, 0.1); 
    color: white;
    font-weight: bolder;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: flex-end;
}

.intro-info {
    width: 50vw;
    height: 46vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.intro-info h1 {
    font-size: 2.7vw;
}
.intro-info p {
    font-size: 1vw;
}

.intro-button {
    width: 10vw;
    height: 2vw;
    background-color: #9B2226;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    font-size: 1vw;
    overflow: hidden;
    border-radius: 2vw;
}
