* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
    background-color: #FFF1E6;
}

hr {
    background-color: black;
    height: 4px;
    width: 100vw;
    margin-bottom: 2vw;
}

footer {
    background-color: #9B2226;
    width: 100vw;
    height: 11vw;
}
footer h1 {
    font-size: 1.8vw;
}
footer img:hover {
    transform: scale(1.2);
}
footer a {
    text-decoration: none;
    color: black;
}
.license {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
}
.contact {
    width: 25vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    padding: 0.2vw;
    overflow: hidden;
}
.contact-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.2vw;
}
.logo {
    width: 25vw;
    height: 8vw;
    margin-left: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image {
    background-image: url("images/intro_crop.JPG");
    background-size: cover;
    width: 100vw;
    height: 50vw;
}

.intro-background {
    background-color: rgba(74, 0, 0, 0.5); 
    width: 100vw;
    height: 50vw;
}

.menu-bar {
    width: 100vw;
    height: 4vw;
    background-color: rgba(155, 34, 38, 0.1); 
    color: white;
    font-weight: bolder;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: flex-end;
}

.intro-info {
    width: 50vw;
    height: 46vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.intro-info h1 {
    font-size: 2.7vw;
}
.intro-info p {
    font-size: 1vw;
}
.menu-bar a {
    font-size: 1vw;
    color: white;
    text-decoration: none;
}
.menu-bar a:hover {
    text-decoration: underline;
}

.intro-button {
    width: 10vw;
    height: 2vw;
    background-color: #9B2226;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    font-size: 1vw;
    overflow: hidden;
    border-radius: 2vw;
}


/* ABOUT US */
.about-us-div {
    width: 100vw;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-us-box-div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 3vw;
}
.about-us-box {
    width: 15vw;
    height: 25vw;
    background-color: pink;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
    box-sizing: content-box;
}
.about-us-box p, .about-us-box li {
    font-size: 1vw;
}


/* PROFILES */
.profile-div {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7vw;
    margin-bottom: 7vw;
}
.profile-div h1 {
    font-size: 1.5vw;
}
.profile-div p {
    font-size: 1vw;
}
.label {
    width: 15vw;
    padding: 0.5vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    font-size: 1.8vw;
    font-weight: bold;
}
.coaches-div {
    width: 100vw;
    margin-top: 3vw;
}
.coaches-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 5vw;
}
.coach-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.profile-circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: white;
    border-color: #8d2d30;
    border-style: solid;
}
.coach-text {
    width: 20vw;
}
.board-div {
    width: 100vw;
    margin-top: 3vw;
}
.board-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 5vw;
}
.board-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
}
.board-circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: white;
    border-color: #CA6702;
    border-style: solid;
}


/* THEME */
.theme {
    width: 100vw;
    height: 50vw;
    background-image: url("images/theme.JPG");
    background-size: cover;
    display: flex;
}
.theme .intro-background {
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-background {
    width: 32vw;
    height: 20vw;
    background-color: #9B2226;
    color: #F2E9E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
}


/* REGISTRATION */
.registration-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
}
.registration-div p, .registration-div a{
    font-size: 1.3vw;
    font-weight: bold;
}
.registration-bttns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    gap: 4vw;
}
.reg-button {
    background-color: #9B2226;
    padding: 0.7vw;
    color: white;
    width: 15vw;
    text-align: center;
    border-radius: 1vw;
    text-decoration: none;
}
.reg-button:hover {
    background-color: #8d2d30;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}
.reg-div {
    width: 100vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.reg-box {
    padding: 2vw;
    border-style: solid;
    border-color: black;
    background-color: #FFE9D8;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 25vw;
}
.box-button {
    background-color: #CA6702;
    padding: 0.7vw;
    color: white;
    width: 15vw;
    text-align: center;
    border-radius: 1vw;
    text-decoration: none;
}
.box-button:hover {
    background-color: #bb742e;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}


/* SUMMIT SCHEDULE */
.schedule-div {
    margin-top: 7vw;
}
.schedule-div h2 {
    text-align: center;
    font-size: 1.2vw;
}
.schedule-div p {
    text-align: center;
    font-size: 0.9vw;
}


/* FAQ */
.faq-div {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7vw;
}
.faq-div p {
    margin-top: 1vw;
    font-size: 1.2vw;
    padding-bottom: 0.8vw;
}
.faq-box {
    width: 45vw;
    border-style: solid;
    border-color: black;
    background-color: #FFE9D8;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 1vw;
}
.faq-box-ext {
    width: 45vw;
    border-style: solid;
    border-color: black;
    background-color: #FFE9D8;
    border-radius: 1vw;
    padding: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 1vw;
    display: none;
}
.faq-box-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SPONSOR */
.sponsor-div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor {
    width: 45vw;
    border-style: solid;
    border-color: black;
    background-color: #FFE9D8;
    border-radius: 1vw;
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
}
.sponsor p {
    font-size: 1vw;
    text-align: center;
}
